<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cpyapp.plugins.SmsSendingPlugin"
    version="1.0.2">

    <name>SmsSendingPlugin</name>

    <description>SmsSendingPlugin</description>
<!-- a single file, to be copied in the root directory -->
<asset src="www/SmsSendingPlugin.js" target="SmsSendingPlugin.js" />
<platform name="android">

        <source-file src="www/SmsSendingPlugin.java" target-dir="www" />
</platform>

<license>MIT</license>
</plugin>